* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #fff;
   overflow-x: hidden;
   font-family: "Architects Daughter", cursive;
}

/*Menu de Navegacion*/

#header {
   position: relative;
   width: 100%;
}

.menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 60px;
   background-color: #b6e0fe;

   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 9999;
}

.menu .logo-box {
   margin-left: 20px;
}

.menu .logo-box h1 a {
   text-decoration: none;
   font-size: 35px;
   font-weight: 400;
   color: #0f609b;
   margin-left: 10px;
   padding: 10px;
}

.menu .list-container {
   margin-right: 20px;
}

.menu .list-container .lists {
   display: flex;
}

.menu .list-container .lists li {
   list-style: none;
   color: #0f609b;
}

.menu .list-container .lists li a {
   text-decoration: none;
   margin: 0px 10px;
   padding: 8px;
   color: var(--black);
   border-radius: 24px;
   font-size: 20px;
   transition: 0.3s;
}

.menu .list-container .lists li a:hover {
   color: #0099ff;
}

section {
   position: relative;
   background-color: #d6eaf8;
   font-family: "Architects Daughter", cursive;
   margin-top: 100px;
   padding: 20px;
   margin: 40px 40px;
   font-size: 20px;
   color: #5d6d7e;
}

footer {
   text-align: center;
}

#planet {
   position: relative;
   width: 200px;
   border-radius: 30px;
   margin-top: 20px;
   float: right;
}
/*
.info-container .contenido-inicial p {
   border: 1px solid seagreen;
   color: slateblue;
   float: left;
}*/
.info-container {
   background-color: #66ff99;
   margin: 80px 80px;
   padding: 40px 40px;
   border-radius: 30px;
}

section .arriba {
   text-align: center;
   font-size: 70px;
}

.bio {
   background-color: #00ffcc;
   margin: 80px 80px;
   padding: 40px 40px;
   border-radius: 30px;
}

.bio p {
   padding-left: 30px;
   text-align: justify;
}

#city {
   position: relative;
   width: 250px;
   border-radius: 30px;

   margin-bottom: 20px;
   float: right;
}

.content-inicio img {
   padding: 5px;
   margin: 20px 101px;

   position: relative;
}

#camion {
   width: 200px;
   margin-top: 40px;
}
#nacho {
   width: 200px;
}
#gps {
   width: 200px;
}

#mapContainer{
    padding: 10px 10px;
    margin: 90px 300px;

    
    
}